body {
    background-color: #89609E;
    font: 14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /*Seccion titulo*/
  #titulo{
    width: 100%;
    background-color: #89609E;
    line-height: 2.7em;
    padding: 0 1.5em;
    color: #fff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  #titulo img{
    margin-top: 5px;
    height: 32px;
    width: 110px;
  }
  #titulo a{
    background-color:#89609E;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: .3em .5em;
    line-height: 1em;
    margin-left: 10px;
  }
  #titulo a span{
    color: #F9E79F;
    margin: 20px;
  }
  
  #titulo a:hover span{
    color: white;
  }
  
  .tarea{
    width: 100%;
    background: #F9E7;
    border-radius: 3px;
    margin: 0 0.5em 1em 0.5em;
    line-height: 1.75em;
    padding: 0.75em;
    min-height: 5em;
  }
  #boards h3{
    color: white;
    margin-bottom: 30px;
  }
  #boards a{
    text-decoration: none;
    color: black;
  }
  .tareal{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
  }
  .addNew{
    margin: -0.75em;
    margin-top: 0.75em;
    padding: 0.5em 0.75em;
    color: #797a7c;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
  }
  .addNew:hover{
    color: #696a6d;
    background-color: rgba(200, 204, 206, 0.9);
  }
  .cancel{
    color:black;
    cursor: pointer;
  }
  
  .cancel:hover{
    color: rgb(76, 146, 173);
  }
  .error{
    color: #E21515;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  /*Seccion contenido*/
  #contenido{
    display: flex;
    flex-direction: row;
  }
  .tarjeta{
    min-width: 300px;
    margin: 0 10px;
  }
  .tarea.addNew {
    transition: all 0.15s ease-out 0s;
    background: #F9E79F;
    cursor: pointer;
    color: #bdc3c7;
    margin:0;
  }
  #boards .tarea.addNew{
    margin: 0 0.5em 1em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*boton añadir lista*/
  .empezar{
    margin: 5px 20px;
    padding: 10px;
    background-color:#F9E79F;
    text-align: left;
    color: #B3D3E5;
    display: inline-block;
    width: 17em;
    border-radius: 5px;
  }
  .empezar:hover {
    background-color:#F9E79F;
    cursor: pointer;
  }
  
  /*Seccion lista*/
  .lista {
    background-color:#F9E79F;
    border-radius: 10px;
    margin: 0 15px;
    padding: 10px;
    width: 17em;
    display: inline-block;
  }
  
  .lista h3{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    cursor: grab;
  }
  
  /*boton añadir tarjeta*/
  .añadir{
    color: gray;
    cursor: pointer;
    margin: 15px 0;
  }
  
  
  